<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>User Interface - Home</strong></h2>
				<!-- <p>Lorem ipsum dolor sit amet, usu cu alterum nominavi lobortis. At duo novum diceret. Tantas apeirian vix et, usu sanctus postulant inciderint ut, populo diceret necessitatibus in vim. Cu eum dicam feugiat noluisse. </p> -->
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/img/project/interface1.jpg" alt="Screenshot" class="img-responsive screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>User Interface - For a single bin</strong></h2>
				<!-- <p>Lorem ipsum dolor sit amet, usu cu alterum nominavi lobortis. At duo novum diceret. Tantas apeirian vix et, usu sanctus postulant inciderint ut, populo diceret necessitatibus in vim. Cu eum dicam feugiat noluisse. </p> -->
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/img/project/interface2.jpg" alt="Screenshot" class="img-responsive screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>Relationships among all user interfaces</strong></h2>
				<!-- <p>Lorem ipsum dolor sit amet, usu cu alterum nominavi lobortis. At duo novum diceret. Tantas apeirian vix et, usu sanctus postulant inciderint ut, populo diceret necessitatibus in vim. Cu eum dicam feugiat noluisse. </p> -->
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/img/project/interface_all.jpg" alt="Screenshot" class="img-responsive screenshot editable" />
			</div>
		</div>
	</section>

</div>