<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Smart Composter</h1>
            <h3><b>An Elegant Smart Compost Management System</b></h3>
            <hr>
            <h4>The smart compost management system is capable of monitoring and managing compost mixtures by adding air and water and other essentials when needed.</h4>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
