<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">PCB Designing</h2>
                <hr class="primary">
                <img class="img-responsive" src="img/project/pcb_designing.png" alt="pcb designing">
                <img class="img-responsive" src="img/project/toner_transfer.png" alt="used toner transfer method">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Enclosure Designing</h2>
                <hr class="primary">
                <img class="img-responsive" src="img/project/perspex_laser_cutting.png" alt="laser cutting method (perspex used as the material of cutting)">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Prototype</h2>
                <hr class="primary">
                <img class="img-responsive" src="img/project/prototype_photo.png" alt="prototype photo" >
                <img class="img-responsive" src="img/project/prototype_photo_2.png" alt="prototype photo 2" >                
            </div>
        </div>
    </div>
</section>
<!-- 
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Embedded Circuit Implementation</h2>
                <hr class="primary">
                <img class="img-responsive" src="img/project/embedded_cad.jpg" alt="CAD design for the Embedded Circuit">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Control Flow</h2>
                <hr class="primary">
                <img class="img-responsive" src="img/project/control_flow.png" alt="control flow">
            </div>
        </div>
    </div>
</section> -->
