<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Product</h2>
                <hr class="primary">
                <img class="img-responsive" src="img/project/simple_design.png" alt="simple design" >
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Big Picture</h2>
                <hr class="primary">
                <img class="img-responsive" src="img/project/big_picture.jpg" alt="big picture">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Embedded Circuit Schematic</h2>
                <hr class="primary">
                <img class="img-responsive" src="img/project/embedded_circuit_schematic.png" alt="embedded circuit">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Embedded Circuit Implementation</h2>
                <hr class="primary">
                <img class="img-responsive" src="img/project/embedded_cad.png" alt="CAD design for the Embedded Circuit">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Control Flow</h2>
                <hr class="primary">
                <img class="img-responsive" src="img/project/control_flow.png" alt="control flow">
            </div>
        </div>
    </div>
</section>
