.vh-50{
    min-height: 50vh!important;
}
.vh-75{
    min-height: 75vh!important;
}

footer {
	padding: 2.5rem 0;
	color: #999;
	text-align: center;
	background-color: #212121;
	border-top: .05rem solid #bfbfbf;
}

footer p:last-child {
	margin-bottom: 0;
}

.error{
	color: red;
}

.crud-buttons{
	border: 1px solid rgb(5, 94, 7);
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
	
}

.btn{
	background-color: green;
	border-color: #212121;
}

#binImageMoreDetails{
	margin-top: 80px;
}